<link href="orm-coder.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
	var defineOrm = {= $sDefineOrm };
	var defineDbTable = {= $sDefineDbTable };
	var defineOrmDefines = {= $sDefineOrmDefines};
	var defineOrmType = {= $sDefineOrmType};
</script>
<js type="text/javascript" src="jquery-1.6.2.min.js" />
<js type="text/javascript" src="jquery.json-2.2.min.js" />
<js type="text/javascript" src="orm-coder.js" />
<div id="main">
	<div id="ormlist">
		<ul id="ormlistUl">
			<button class='newOrm'>新建orm</button>
		</ul>
	</div>
	<div id="property">
		<div><h1>配置页面</h1></div>
			<div id='guide'>
				<p>没有选中orm,如果想编辑orm可以点击左侧列表,如果想新建orm请点击</p>
				<button class='newOrm'>新建orm</button>
			</div>
		<div><input class='newOrmMap' type='button' value='添加新orm关系'/></div>
		<div><input id="save" type="button" value="保存" /></div>
		<div class="block"></div>
  	</div>
  	
  	<div id='msg'></div>
</div>


<!-- 模板 -->
<div id='template'>
	<div class="prototypeForm">
		<label for="ormExtend">所属扩展:</label>
		<select id="ormExtend" class='formWidget'>
		</select><br />
		
		<label for="ormDefine">保存到扩展:</label>
		<select id="ormDefine" class='formWidget'>
		</select><br />
		
		<label for="ormTable">表:</label>
		<select id="ormTable" class='formWidget'>
		</select><br />
		
		<label for="ormTitle">原型名:</label>
		<input id="ormTitle" type='text' class='formWidget'/><br />
		
		<table id="ormColumn" class='formWidget'>
			<thead>
				<tr>
					<th>主键</th>
					<th>使用</th>
					<th>字段</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td><input id='checkAll' type='checkbox' checked='checked'/><label for="checkAll">全选</label></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	<div class="ormForm formWidget">
		<div class="ormTopDiv">
			<div class='ormTypeDiv'>
				<label>orm类型:</label>
				<select class="ormType" >
					<foreach for='$arrDefineOrmType' key='key' item='value'>
						<option value="{= $value}">{= $value}</option>
					</foreach>
				</select><br />
			</div>
			<div class='ormBridgeTableDiv'>
				<label>桥接表名:</label>
				<select class="ormBridgeTable" >
				</select>
			</div>
			<div class='ormToPrototypeDiv'>
				<label>原型:</label>
				<select class="ormToPrototype" >
				</select><br />
				<lable>别名:</lable>
				<input class='ormToProp' type="text"/>
			</div>
		</div>
		<div class="ormFrom">
			<label>fromkey:</label><br />
			<select class="ormFromKey" >
			</select><br />
			<a href="#" class='addOrmFromKey'>添加</a><br/>
		</div>
		<div class="ormBridge">
			<div class="ormBridgeStart">
				<label>BrigdeToKey:</label><br />
				<select class="ormBrigdeToKey" >
				</select><br />
			</div>
			<div class="ormBridgeEnd">
				<label>BrigdeFromKey:</label><br />
				<select class="ormBrigdeFromKey" >
				</select><br />
				<a href="#" class='addOrmBrigdeFromKey'>添加</a><br/>
			</div>
		</div>
		<div class="ormTo">
			<label>ToKey:</label><br />
			<select class="ormToKey" >
			</select><br />
		</div>
		
		<div class="block"></div>
	</div>
</div>
