<link href="orm-coder.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
	var defineOrm = {= $sDefineOrm };
	var defineDbTable = {= $sDefineDbTable };
	var defineOrmDefines = {= $sDefineOrmDefines};
</script>
<js type="text/javascript" src="jquery-1.6.2.min.js" />
<js type="text/javascript" src="jquery.json-2.2.min.js" />
<js type="text/javascript" src="orm-coder.js" />
<div id="main">
	<div id="ormlist">
		<ul id="ormlistUl">
			
			
			
		</ul>
	</div>
	<div id="property">
		<div><h1>配置页面</h1></div>
		
		
		<div class="block"></div>
  	</div>
</div>
