<link href="orm-coder.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
	var defineOrm = {= $sDefineOrm };
	var defineDbTable = {= $sDefineDbTable };
</script>
<script type="text/javascript" src="jquery.json-2.2.min.js"></script>
<script type="text/javascript" src="orm-coder.js"></script>
<div id="main">
	<div id="ormlist">
		<div><h1>ORM</h1></div>
		<ul id='ormlistUl'>
			
		</ul>
	</div>
	<div id="property">
		<div><h1>配置页面</h1></div>
		<input type='text'/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	</div>
	<div class="block"></div>
  	
</div>
