@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol,  fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul , li {
	list-style-position:inside;
	list-style-type :none;
}
a:focus {
	outline: none;
}
body {
	background: #fff;
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height: 1.5;
}
h1 {
	width:100%;
	display:block;
	font-size:18px;
	text-align:center;
}
#main {
	width:auto;
	overflow:hidden;
}
#namespace {
	width:100%;
	height:50px;
	line-height:50px;
	border-top:1px solid #FFF;	
	background-image:url(../images/bg001.jpg);
}
#namespace label{
	margin-left:24px;
}
.nameaddress{
	width:100%;
	height:27px;
	line-height:27px;
	background-color:#F0FAFD;
	padding-left:24px;
	border-bottom:solid #CAE9F4 1px;
	
}
#right{
	width:700px;
	float: right;
}
#left{
	width:auto;
	margin-right:700px;
	min-height:200px;
	
}

/* 顶级对象操作 start*/

#topToolPanel {
	background:#F0F0F0;
	height:44px;
	line-height:44px;
	padding-left:15px;
	border-bottom:solid #CCCCCC 1px;
}

#topToolPanel button {
	color:#000;
	height:28px !important;
	height:25px;
	line-height:28px  ;
	vertical-align:middle;
}
#topToolPanel span {
	background-position: center right;
	background-repeat: no-repeat;
	padding: 7px 12px 4px 10px;
	
}
#topToolPanel span.file {
	background-image: url(../images/page_white_text.png);
}
#topToolPanel span.folder {
	background-image: url(../images/folder.png);
}
#topToolPanel span.controller {
	background-image: url(../images/controller.png);
}
#topToolPanel span.view {
	background-image: url(../images/view.png);
}
#topToolPanel span.widget {
	background-image: url(../images/widget.png);
}
#topToolPanel span.virifier {
	background-image: url(../images/verifier.png);
}
#topToolPanel span.model {
	background-image: url(../images/model.png);
}
#topToolPanel span.delete {
	background:url(../images/delete.png) no-repeat;
}

/*end*/
/* 顶级对象操作 start*/
#subToolPanel{
	display:none;
	position: absolute;
	z-index: 5;
	
}

#subToolPanel .subButtons{
	display:block;
	height:24px;	
	width:auto;	
	float:left;
	line-height: 24px;
}
#subToolPanel a {
	color:#000;
	text-decoration :none;
	
}
.sub_btn_disabled {
	filter:gray;
	 -moz-opacity:.1;
	 opacity:0.5;
}
#subToolPanel span {
	background-position: center right;
	background-repeat: no-repeat;
	padding: .2em 0 .2em 1.5em;
}
#subToolPanel span.file {
	background-image: url(../images/page_white_text.png);
}
#subToolPanel span.folder {
	background-image: url(../images/folder.png);
}
#subToolPanel span.controller {
	background-image: url(../images/controller.png);
}
#subToolPanel span.view {
	background-image: url(../images/view.png);
}
#subToolPanel span.widget {
	background-image: url(../images/widget.png);
}
#subToolPanel span.virifier {
	background-image: url(../images/verifier.png);
}
#subToolPanel span.model {
	background-image: url(../images/model.png);
}
#subToolPanel span.delete {
	background-image:url(../images/delete.png);
}

/*end*/

#toolpanelDiv {
	
}
#toolpanel {
	width:100%;
	
}
#toolpanel thead {
	background:#CFDBE6;
	color:#000;
    height:24px;
	line-height:24px;
}
#toolpanel tbody tr {
	position: relative;
	cursor:pointer;
	height:24px;
	line-height:24px;

	
}
#toolpanel tbody td {
	padding:4px;
	}
#toolpanel tbody tr:hover {
	background:#FFE8D0;
}

#property {
	width:700px;
	float:right;
}
#property h3{
	width:100%;
	height:23px;
	line-height:23px;	
	padding-left:20px;
}
#propertytop{
	border-bottom:1px solid #D8E2EB;
	background-image: url(../images/bg002.jpg);
}
.propertys {
	width:100%;
	display:none;
	background:#FFFFEE;
	border-left:1px solid #CFDBE6;
	border-bottom:1px solid #CFDBE6;
}
#propertycon{
	padding:8px;

}
#propertycon ul{
   height:15px;
   line-height:15px;
}

#propertycon dl{
	margin-left:80px;
}
#propertycon dd{
	margin-left:70px;
}
#propertycon ul label{
    margin-right:10px;
	width:100px;
	float:left;
	list-style:none;
	text-align:right;
}
#propertycon label{
	float:none;
	margin:0px 5px 0px 5px;
}
#verifier_more_property{margin-left:110px;}
.widget_propertys {
	width:100%;
	display:none;
}
#preview {
	width:100%;
	clear:both;
	background:#F0F0F0;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #FFF;
    overflow:hidden;	
}
#preview_btns{
	padding:8px 24px 8px 24px;
	
	}
#preview h1{
	width:100%;
	background: #F0FAFD;
	height:29px;
	line-height:29px;
	display:block;
	font-size:14px;
	text-align:left;
	padding-left:24px;
	border-top:1px solid #CCCCCC;
}
#preview_div{
    min-height:100px;
	padding:15px;
	background: #FFFFEE;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	
}
#preview_div textarea{
	width:100%;
	overflow:hidden;
}
.selected {
	background:#DAEDE3;
	
}


<!-- 视图属性的表单的个别样式 -->

#view_template{width:300px;}
#view_filepath{width:80%;}

#toolpanel span {
	background-position: center left;
	background-repeat: no-repeat;
	padding: .2em .1em .2em 2em;
	
}
#toolpanel .nameColumn {
	width:20%;
}
#toolpanel .classColumn {
	width:20%;
}
#toolpanel .programColumn {
	width:30%;
}
#toolpanel .propertyColumn {
	width:30%;
}
#toolpanel .tr_indent {
	padding:0;
	float:left;
	width:16px;
	height:2px;
}
#toolpanel span.file {
	background-image: url(../images/page_white_text.png);
}
#toolpanel span.folder {
	background-image: url(../images/folder.png);
}
#toolpanel span.controller {
	background-image: url(../images/controller.png);
}
#toolpanel span.view {
	background-image: url(../images/view.png);
}
#toolpanel span.widget {
	background-image: url(../images/widget.png);
}
#toolpanel span.verifier {
	background-image: url(../images/verifier.png);
}
#toolpanel span.model {
	background-image: url(../images/model.png);
}

#widget_options {
	width:100%;
}
#widget_options_table tr {
	background:#EEE;
}

#model_orm_outer_div{
	width:500px;
	overflow:auto;
}

#model_orm_div{
	width:1000px;
	background:#D8E4EF;
}
#model_orm_div ul li input {
	margin:0px;
	padding:0px;
	height:20px;
	line-height:20px;
	float:left;   
}

#model_orm_div ul li label{
	width: auto;
	margin-left:8px;	
	display:block;	
}
#model_orm_div ul li b{
	float:left;
	width: auto;
}
#model_orm_div ul , #model_orm_div li {
	margin-top:0;
	margin-bottom:0;
	padding: 0  0  0 10px;
	height:20px;
	line-height:20px;
	clear:both;
	list-style: none;	
}
#view_model_table{
	margin-left:40px;
}
#view_model_table th{
	background:#D8E4EF;
}

#view_model_table tr{
	background:#EEECDF;
}

#view_model_table tr select{
   width:100%;
}
#view_model_table tr select{
	width:100%;
}
#view_model_table tr  td{
   width:40px;
   text-align:center;
}


