@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
ol, ul ,li{
list-style-position:outside;
list-style: none;
}
a:focus {
outline: none;
}

body {
  background: #fff;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .8em;
  line-height: 1.5;
}

h1{
	width:100%;
	display:block;
	font-size:18px;
	text-align:center;
}

#main{
	width:auto;
	margin-right:400px;
	}
#namespace{
	width:100%;
	height:30px;
}
#toolPanelButtons{
	width:50px;
	float:left;
	padding: 25px 0 0 0;
	background:#CCF
}
#toolpanelDiv{
	margin:0 300px 0 50px;
}
#toolpanel {
	width:100%;	
}
#toolpanel thead{
	background:#36C;
	color:#FFF;
}
#toolpanel tbody tr{
	
}
#property{
	width:300px;
	float:right;
	}
.propertys{
	width:100%;
	display:none;
	background:#FF9;
}

.widget_propertys{
	width:100%;
	display:none;	
}

#right{
	width:400px;
	float:right;
	}
	
#preview{
	width:100%;
	}

.selected{
	background:#CCC;	
}

#toolpanel span {
  background-position: center left;
  background-repeat: no-repeat;
  padding: .2em 0 .2em 1.5em;
}

#toolpanel tr {
	cursor:pointer;
	}

#toolpanel .nameColumn{
	width:40%;
}

#toolpanel .classColumn{
	width:20%;
}

#toolpanel .propertyColumn{
	width:40%;
}

#toolpanel .tr_indent{
	padding:0;
	float:left;
	width:16px;
	height:2px;
}
	
#toolpanel span.file {
  background-image: url(../images/page_white_text.png);
}

#toolpanel span.folder {
  background-image: url(../images/folder.png);
}

#toolpanel span.controller {
  background-image: url(../images/controller.png);
}

#toolpanel span.view {
  background-image: url(../images/view.png);
} 

#toolpanel span.widget {
  background-image: url(../images/widget.png);
}

#toolpanel span.verifier {
  background-image: url(../images/verifier.png);
}
#toolpanel span.model {
  background-image: url(../images/model.png);
}
#deleteBtn{
	color:#000;
	text-decoration:none;
	text-align:left;
	display:bloak;
}
#deleteBtn .delete{
	background:url(../images/delete.png) no-repeat;
	 background-position: center right;
  background-repeat: no-repeat;
  padding: .2em 0 .2em 1.5em;
	
}

#toolPanelButtons a{
	color:#000;
	text-decoration:none;
	text-align:left;
	display:bloak;
	}
#toolPanelButtons span {
  background-position: center right;
  background-repeat: no-repeat;
  padding: .2em 0 .2em 1.5em;
}

.add_btn_disabled{
	display:none;	
}

#toolPanelButtons span.file {
  background-image: url(../images/page_white_text.png);
}

#toolPanelButtons span.folder {
  background-image: url(../images/folder.png);
}

#toolPanelButtons span.controller {
  background-image: url(../images/controller.png);
}

#toolPanelButtons span.view {
  background-image: url(../images/view.png);
}

#toolPanelButtons span.widget {
  background-image: url(../images/widget.png);
}

#toolPanelButtons span.virifier {
  background-image: url(../images/verifier.png);
}
#toolPanelButtons span.model {
  background-image: url(../images/model.png);
}