@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol,  fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul , li {
	list-style-position:inside;
	list-style-type :none;
	margin:0;
	padding:0;
}
a:focus {
	outline: none;
}
body {
	background: #fff;
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: .8em;
	line-height: 1.5;
}
h1 {
	width:100%;
	display:block;
	font-size:18px;
	text-align:center;
}

#ormlist{
	width:200px;
	float:left;
	background: #CFE9F3;
	padding:10px 0 0 0 ;
}

#ormlistUl ul li{
	margin-left:20px;
	background: #8AC9E3;
}

#ormlistUl ul li:hover{
	background: #C0D9D9;
	cursor: pointer;
}

#ormlistUl .selected{
	font-weight:bold;
	background: #C0D9D9;
}

#property{
	margin-left:200px;
	width:auto;
	background: #8fC5FF;
	padding:10px;
}

#property .prototypeForm{
	width:1000px;
}

#property .ormFrom{
	width:250px;
	float:left;
	background:#081;
}
#property .ormBridge{
	width:500px;
	float:left;
	background:#AAA;
}

#property .ormBridgeStart{
	width:250px;
	float:left;
}

#property .ormBridgeEnd{
	width:250px;
	float:left;
}

#property .ormTo{
	width:250px;
	float:left;
	background:#081;
}

.block{
	clear:both;
}
